<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
</head>
<body>
    <h1>Things i need to do</h1>      
    {% for item in items %}
        <table>
            <tr>
                {% if item.done %}
                    <td><strike>{{ item.name }}</strike></td>
                {% else %}
                    <td>{{ item.name }}</td>
                {% endif %}
                <td>
                    <a href="/toggle/{{ item.id }}">
                        <button>Toggle</button>
                    </a>
                </td>
                <td>
                    <a href="/edit/{{ item.id }}">
                        <button>Edit</button>
                    </a>
                </td>
                <td>
                    <a href="/delete/{{ item.id }}">
                        <button>Delete</button>
                    </a>
                </td>
            </tr>
        </table>
    {% empty %}
        <tr><td>You have nothing to do</td></tr>
    {% endfor %}
    <a href="/add">Add an item</a>
</body>
</html>